In [ ]:
%pip install pandas

In [1]:
import pandas as pd

In [3]:
tabla=pd.read_csv(r'D:\cursos\Dataframe\TablaEjemplo.csv')

In [4]:
tabla

  Nombre  Edad       País Automovil
0   Juan    35     México        No
1  Pedro    41     España        Si
2  María    28       Perú        Si
3  Laura    66  Argentina        No

serie: LISTA DE DATOS UNIDIMENSIONAL Como son  las columnas de una tabla

PARA ACCEDER A UNA SERIE nombre_dataframe['nombre de la serie'] o nombre_dataframe.nombre_Serie sino tiene espacios el nombrwe

 ACCEDER A VARIAS SERIES A LA VEZ nombre_dataframe[['nombre de la serie1', 'nombre de la serie2']]

In [6]:
nombre_edad= tabla[['Nombre','Edad']]

In [7]:
nombre_edad

  Nombre  Edad
0   Juan    35
1  Pedro    41
2  María    28
3  Laura    66

para saber con que tipo de dato estoy trabajando type('el campo que quiero saber')

In [8]:
type(nombre_edad)

pandas.core.frame.DataFrame

In [9]:
type(tabla.Nombre)

pandas.core.series.Series